* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(225, 147, 160);
    font-family: "Geologica", sans-serif;
    font-style: normal;
    overflow-y: hidden;
    overflow-x: hidden;
    letter-spacing: 2px;
}

/* page 2 background */

.page2-background-pic {
    position: absolute;
    left: 60rem;
    bottom: 0.2rem;
    height: 15rem;
}

.page2-background-pic1 {
    position: absolute;
    left: 22rem;
    bottom: 1.2rem;
    height: 10rem;
}

/* header */

.header {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.header-text {
    font-size: 3rem;
    color: white;
}

.hint {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.3rem;
    margin-top: 2rem;
}

.hint img {
    width: 1rem;
    margin-left: 0.5rem;
    filter: invert(100%);
}

/* options */

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    height: 25rem;
}

.options-items p {
    margin-left: 1rem;
}

.options-items img {
    width: 200px;
    box-shadow: 10px 10px 5px pink;
}

.options-items img:hover {
    transition: 0.2s;
    filter: opacity(0%);
    box-shadow: 0;
}

.options-items img:not(:hover) {
    transition: 0.3s;
    filter: opacity(100%);
    box-shadow: 10px 10px 5px pink;
}

/* texts for pics */

.date-text {
    position: absolute;
    float: none;
    color: white;
    bottom: 23rem;
}

/* back button */

.back-button {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
}

.back-button a {
    text-decoration: none;
    list-style: none;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
}