* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(225, 147, 160);
    font-family: "Geologica", sans-serif;
    font-style: normal;
    overflow-y: hidden;
    overflow-x: hidden;
    letter-spacing: 2px;
}

/* main */

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 7rem;
}

.main-text {
    color: white;
    font-size: 2rem;
}

.hint {
    color: white;
    position: absolute;
    float: none;
    left: 71rem;
    bottom: 34rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.main img {
    width: 600px;
}

/* back button */

.back-button {
    display: flex;
    margin-top: 3.2rem;
}

.back-button a {
    text-decoration: none;
    list-style: none;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
}